<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TicketMastersEntities" connectionString="metadata=res://*/TicketMasterEntities.csdl|res://*/TicketMasterEntities.ssdl|res://*/TicketMasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10THINSTALL\SQLEXPRESS;initial catalog=TicketMasters;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="new_ticket_master.Properties.Settings.TicketMastersConnectionString"
      connectionString="Data Source=10THINSTALL\SQLEXPRESS;Initial Catalog=TicketMasters;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>